<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>185057353348-0df2hg4oapvtfgjmfdbjrqv76tlneu2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185057353348-0df2hg4oapvtfgjmfdbjrqv76tlneu2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDAx7jBSCBk3mo8n6TD-HL8wg9Yr02xFGU</string>
	<key>GCM_SENDER_ID</key>
	<string>185057353348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joamafer.waitr</string>
	<key>PROJECT_ID</key>
	<string>waitr-489d5</string>
	<key>STORAGE_BUCKET</key>
	<string>waitr-489d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:185057353348:ios:ac00f5c7172c257d</string>
	<key>DATABASE_URL</key>
	<string>https://waitr-489d5.firebaseio.com</string>
</dict>
</plist>